<div class="register-container">
  <div class="register-box">
    <h2 class="text-center mb-4">Registro en el Club Náutico</h2>
    <form (ngSubmit)="register()" #registerForm="ngForm">

      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input
          type="text"
          id="name"
          name="name"
          [(ngModel)]="form.name"
          required
          class="form-control"
          placeholder="Introduce tu nombre"
        />
      </div>

      <div class="mb-3">
        <label for="lastname" class="form-label">Apellido:</label>
        <input
          type="text"
          id="lastname"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          class="form-control"
          placeholder="Introduce tu apellido"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Usuario:</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="form.username"
          required
          class="form-control"
          placeholder="Introduce tu usuario"
        />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="form.password"
          required
          class="form-control"
          placeholder="Introduce tu contraseña"
        />
      </div>

      <div class="mb-3">
        <label for="role" class="form-label">Rol:</label>
        <select id="role" name="role" [(ngModel)]="form.role" class="form-select">
          <option value="0">Organizador</option>
          <option value="1">Miembro</option>
        </select>
      </div>

      <div class="form-check mb-4">
        <input type="checkbox" id="isPatron" name="isPatron" [(ngModel)]="form.isPatron" class="form-check-input" />
        <label for="isPatron" class="form-check-label">¿Eres Patrón?</label>
      </div>

      <button type="submit" class="btn btn-primary w-100">Registrarse</button>

      <div class="text-center mt-3">
        <a routerLink="/login" class="btn btn-outline-light">¿Ya tienes una cuenta? Inicia sesión</a>
      </div>

    </form>
  </div>
</div>
