<div class="container">
  <h2>Actualizar Barco</h2>
  <form [formGroup]="shipForm" (ngSubmit)="updateShip()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input id="name" type="text" class="form-control" formControlName="name" required />
    </div>

    <div class="form-group">
      <label for="matricula">Matrícula:</label>
      <input id="matricula" type="text" class="form-control" formControlName="matricula" required />
    </div>

    <div class="form-group">
      <label for="amarre">Amarre:</label>
      <input id="amarre" type="number" class="form-control" formControlName="amarre" readonly />
    </div>

    <div class="form-group">
      <label for="fee">Tarifa:</label>
      <input id="fee" type="number" class="form-control" formControlName="fee" readonly />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="shipForm.invalid">Actualizar</button>
  </form>
</div>
