<div *ngIf="ships.length > 0; else noShips">
  <div *ngFor="let ship of ships">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ ship.name }}</h5>
        <p class="card-text">Matrícula: {{ ship.matricula }}</p>
        <p class="card-text">Amarre: {{ ship.amarre }}</p>
        <p class="card-text">Fee: {{ ship.fee }}</p>
        <button class="btn btn-danger" (click)="deleteShip(ship.id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noShips>
  <p>No hay barcos disponibles.</p>
</ng-template>
